<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <script type="text/javascript">
        function goBack() {
            window.history.back()
        }
    </script>
</head>
<body>
    <form>
        <h4>National Geographic Museum and Live!</h4>
        <ul>
            <li>Customer service and tickets: email ngtickets@ngs.org or call 202 857 7700 (M-F 9 a.m. - 5 p.m.). Group sales: email groupsales@ngs.org or call 202 857 7281 (M-F 9 a.m. - 5 p.m.). 
            </li>
        </ul>
        <h4>Magazine Orders</h4>
        <ul>
            <li>(National Geographic, Traveler, Adventure, and National Geographic Kids) 800 NGS LINE (800 647 5463) 800 548 9797 (TDD)
            </li>
        </ul>
        <button type="button" class="btn btn-primary btn-lg" onclick="goBack()">Back</button>
    </form>
</body>
</html>