{% extends 'myblog/base.html' %}

{% block contact %}
<div class="align-text">
    <form>
        <h3>Speaking Engagements</h3>
        <ul>
            <li>
                <p>To inquire about booking David for an event, please contact:</p>
                <p>Keppler Speakers Bureau</p>
                <p>703-516-4000</p>
            </li>
        </ul>
        <h3>Publicity</h3>
        <ul>
            <li>
                <p>To inquire about interviewing David or inviting him to do a book signing, please contact:</p>
                <p>Sonya Cheuse</p>
                <p>Grand Central Publishing</p>
                <p>Sonya.Cheuse@hbgusa.com</p>
                <p>212-364-1496</p>
            </li>
        </ul>
        <h3>Foundation</h3>
        <ul>
            <li>
                <p>For more information about the Wish You Well Foundation, please contact:</p>
                <p>Natasha Collin</p>
                <p>Executive Director</p>
                <p>Wish You Well Foundation</p>
                <p>natasha@wishyouwellfoundation.org</p>
                <p>703-476-6032</p>
            </li>
        </ul>

        <button type="button" class="btn btn-info btn-lg pull-right" id="back">Back</button>
        <br/>
    </form>
    </div>
    <br/>
    <br/>
    <hr>
{% endblock contact%}
