Skip to content
 This repository
Explore
Gist
Blog
Help
Milka mileto94
 
1  Unwatch 
  Star 0
 Fork 0mileto94/Django-tutorial
 branch: master  Django-tutorial / blog / myblog / templates / myblog / index.html
Milkamileto94 3 days ago Change main purpose about the blog
1 contributor
127 lines (118 sloc)  5.697 kb RawBlameHistory  
{% extends 'myblog/base.html' %} {% block review %}
<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="http://images.nationalgeographic.com/wpf/media-content/photos/000/824/cache/82421_990x742-cb1407340020.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Halo</h2>
            <p>Ich bin froh, dass besuchen Sie meiner Seite :) Ich wünsche Sie eine gute Reise haben!</p>
            <p>German</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="http://images.nationalgeographic.com/wpf/media-live/photos/000/825/cache/perseid-meteor-shower-01_82581_990x742.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Hola</h2>
            <p>Me alegro de que estés visitando mi página :) Que tengas un buen viaje a través de él!</p>
            <p>Español</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="http://images.nationalgeographic.com/wpf/media-content/photos/000/823/cache/82396_990x742-cb1407254922.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
            <h2>Bonjour</h2>
            <p>Je suis heureux que vous visitez ma page :) Bon voyage à travers elle!</p>
            <p>Français</p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-7">
            {% block translate.super %} {% endblock translate.super %}
        </div>
    </div>
    <!-- /.row -->
    {% endblock %}


{% block top_news %}
{% if most_rated %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
{% for article in most_rated %}
        <div class="item {% if article.id == most_rated.0.id %} active active-slide {% endif %}">

            <img src={{ article.slider_image }}>
            <div class="container">
                <div class="carousel-caption">
                    <h1>{{ article.title }}</h1>
                    <p>{{ article.text }}.</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'myblog:show-article' article.id %}" role="button">Learn more</a>
                    </p>
                </div>
            </div>
        </div>
{% endfor %}
    </div>
    <a class="left carousel-control" role="button" data-slide="prev" id="left">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" role="button" data-slide="next" id="right">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>

    <!-- Indicators -->
    <div class="dots">
    <ul class="slider-dots">
        <li class="dot active-dot">&bull;</li>
        <li class="dot">&bull;</li>
        <li class="dot">&bull;</li>
    </ul>
    </div>
</div>
<!-- /.carousel -->
{% endif %}
{% endblock %}


{% block latest_news %}
    {% if latest_articles %}
        <hr/>
        <ul>
        <h1 class="news">Latest news</h1>
        <!-- <br/> -->
        {% for article in latest_articles %}
        <div class="row featurette">
            <div class="col-md-7">
                <h3 class="featurette-heading">{{ article.title }}
                    <a href="{% url 'myblog:show-article' article.id %}">
                        <button type="button" id="loading-example-btn" data-loading-text="Loading..." class="btn btn-primary">Read</button>
                    </a>
                </h3>

                {{ article.text }}
                <!-- Generates 3 points: ... -->
                <!-- </p>&hellip;</p> -->
            </div>
            <div class="col-md-5">
<!--                 <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image" src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcRgpOd6gHameExZyvZDm4mIaXrrNJcEoIa1jjZBL2IJEnoZToPN4A"> -->
                <img class="img-responsive featurette-heading" alt="Generic placeholder image" src={{ article.image }}>
            </div>
        </div>
        <hr class="featurette-divider">{% endfor %}
        </ul>
    {% else %}
        <p>No articles are available</p>
        {{ article }}
    {% endif %}
{% endblock %}
Status API Training Shop Blog About © 2014 GitHub, Inc. Terms Privacy Security Contact 