{% extends 'myblog/base.html' %}

{% block go_back %}
<!-- Go Back Button -->
<div class="align-text">

    {% if error_message %}
    <p>
        <strong>{{ error_message }}</strong>
    </p>{% endif %}
    <form action="{url 'myblog:show_article' article.id">
        <h1>{{ article.title|striptags}}</h1>

        <p>{{ article.text|striptags}}</p>
        <br/>
        <br/>
        <div id="google_translate_element">
            <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    includedLanguages: 'es,tr,en',
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
                    multilanguagePage: true
                }, 'google_translate_element');
            }
            </script>
            <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
            <button type="button" class="btn btn-info btn-lg pull-right" id="back">Back</button>
    </form>
    <p>If you want you may leave a comment below:</p>

    <form action="{% url 'myblog:show_article' article.id %}" method="post">
        {% csrf_token %}
        <textarea name="comment" rows="4" cols="50" id="commentBodyField" placeholder="Enter your comment..." maxlength="300"></textarea>
        <button class="btn btn-submit" id="send-comment">Send comment</button>
    </form>
    <br>

    <img src="http://d3haopv1cs1fi8.cloudfront.net/img/innhand/facebook-booking-app/facebook-like-button.png" class="like" />
    <form action="." method="post">
        <p id="liked" data-rating="{{ article.rating }}">Rating:
            <span>{{ article.rating }}</span>
        </p>
    </form>
    </div>
  <hr>
{% endblock go_back %}
