<!-- <!DOCTYPE html>
<html>
<head>
    <title>Article</title>
    <script type="text/javascript">
        function goBack() {
            window.history.back()
        }
    </script>
</head>
<body>
    <h1>LQLQLQL</h1>
    <hr>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{url 'myblog:show_article' article.id">
        <p>{{ article.text|striptags}}</p>
        <button type="button" class="btn btn-primary btn-lg" onclick="goBack()">Back</button>
    </form>

    {% load staticfiles %}
        <img src="{% static "./google.png" %}" alt="My image"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</body>
</html>

 -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

    <title>Nat Geo Blog</title>

    <link href="/static/carousel.css" rel="stylesheet">
</head>
<!-- NAVBAR
================================================== -->

<body>
    <div class="navbar-wrapper">
        <div class="container">

            <div class="navbar navbar-inverse navbar-static-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="http://www.nationalgeographic.com/">Nat Geo</a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="">Home</a>
                            </li>
                            <li><a href="contact">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Go Back Button -->
    <div class="align-text">

        {% if error_message %}
        <p>
            <strong>{{ error_message }}</strong>
        </p>{% endif %}
        <form action="{url 'myblog:show_article' article.id">
            <h1>{{ article.title|striptags}}</h1>
            <p>{{ article.text|striptags}}</p>
            <br/>
            <br/>
            <button type="button" class="btn btn-info btn-lg pull-right" onclick="goBack()">Back</button>
        </form>
        <p>If you want you may leave a comment below:</p>
        <textarea name="comment" rows="4" cols="50" id="commentBodyField" placeholder="Enter your comment..." maxlength="300"></textarea>
        <!--     <i class="icon-large icon-thumbs-up"></i>
        <i class="icon-kettle"></i> -->
        <br>
        <img src="http://d3haopv1cs1fi8.cloudfront.net/img/innhand/facebook-booking-app/facebook-like-button.png" class="like"/>
        <p id="liked" data-rating="{{ article.rating }}">Rating: <span>{{ article.rating }}</span></p>
    </div>
    <hr>


    <!-- FOOTER -->
    <footer>
        <p class="pull-right"><a href="#">Back to top</a>
        </p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a>
        </p>
    </footer>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <!-- Java Script -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
    <script src="/static/app.js"></script>

    <script type="text/javascript">
    $(".like").on("click", function() {
        var rated = $("#liked").data();
        rated.rating += 1;
        $("#liked").data("rating", rated.rating);
        console.log($("#liked").data());
        $("span").text("" + $("#liked").data().rating);
    });
    </script>
</body>

</html>
