<!DOCTYPE html>
<html>
<head>
    <title>Article</title>
    <script type="text/javascript">
        function goBack() {
            window.history.back()
        }
    </script>
</head>
<body>
    <h1>LQLQLQL</h1>
    <hr>
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <form action="{url 'myblog:show_article' article.id">
        <p>{{ article.text|striptags}}</p>
        <button type="button" class="btn btn-primary btn-lg" onclick="goBack()">Back</button>
    </form>

    {% load staticfiles %}
        <img src="{% static "./google.png" %}" alt="My image"/>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
</body>
</html>
